<% layout('layouts/boilerplate') -%>  

  <!-- Main content -->
  <div class="container mt-4">
    <h1>Latest Posts</h1>
    <hr>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="https://picsum.photos/200" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Post Title</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam metus vel sapien aliquam porttitor. Fusce malesuada velit vel velit auctor, vitae tempus magna eleifend. Nam et purus rhoncus, feugiat turpis sed, congue risus.</p>
            <a href="#" class="btn btn-primary">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="https://picsum.photos/200" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">Post Title</h5>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam metus vel sapien aliquam porttitor. Fusce malesuada velit vel velit auctor, vitae tempus magna eleifend. Nam et purus rhoncus, feugiat turpis sed, congue risus.</p>
            <a href="#" class="btn btn-primary">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="https://picsum.photos/200" class="card-img-top" alt="...">
          <div class="card-body">
          <h5 class="card-title">Post Title</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec aliquam metus vel sapien aliquam porttitor. Fusce malesuada velit vel velit auctor, vitae tempus magna eleifend. Nam et purus rhoncus, feugiat turpis sed, congue risus.</p>
          <a href="#" class="btn btn-primary">Read more</a>
          </div>
          </div>
          </div>
          </div>
          
            </div>
